<div class="kanji">
	<a class="text--primary" href="{{url}}">{{kanji_name}}</a>
</div>
<div class="image_wrap">
	{{{image}}}
</div>
<p class="zci__caption">{{kanji_name}}</p>
<!--<div class="seperator"></div>
<div class="variation">
	<span class="pull-left">Test</span>
	<span class="pull-right">Test</span>
</div>
<div class="variation">
	<span class="pull-left">wat</span>
	<span class="pull-right">wat</span>
</div>--!>

<div class="image_wrap">
	{{{detail.image}}}
</div>
